<div id="confirmation">
    <div>
        <h1>Merci !</h1>
        <p class="subtitle-confirm">Votre commande est bien validée</p>
    </div>

    <div class="review-cta">
        <p>Laissez-nous un avis !</p>
        <div>
            <img src="assets/images/star-full.png" alt="Étoile">
            <img src="assets/images/star-full.png" alt="Étoile">
            <img src="assets/images/star-full.png" alt="Étoile">
        </div>
        <button [routerLink]="['/reviews']">Laisser un avis</button>
    </div>
</div>